/*******************************************************************************
Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

html, body, #your-container {
	width: 100%;
	height: 100%;
}

.panel {
	position: absolute;
	height: 100%;
	margin-left: -10em;
}

.edit-panel {
	float: left;
	height: 100%;
	width: 10em;
	text-align: right;
	color: #FFF;
	overflow: auto;
}

.floater {
	float:left; 
	height:50%; 
	margin-bottom:-2em;
}

.content {
	clear: both; 
	height: 5em; 
	position: relative;
}

.display-panel {
	height: 100%;
	float: right;
    color: #FFF;    
    font-size: 3em;
    margin-left: 1em;
}

.clear {
	clear: both;
}

h1 {
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.edit-button {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: .3em;
	background-color: #FFF;
	opacity: .5;
	display: inline-block;
	padding: .3em 1em .3em 1em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	color: #666;
}

.edit-button:hover {
	opacity: .7;
}

input {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	background : none;
	border : none;
	text-align: right;
	width: 90%;
}

.freq {
	overflow: hidden;
	background-color: #000;
	opacity: .2;
}

.wrapper {
	padding: 1em 1em 1em 1em;
}

#freq-input {
	width: 100%;
	font-size: 2.5em;
}

.presets {
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,.2);
}

.presets ul {
	padding-right: .35em;
}

.presets li {
	opacity: .8;
	height: 1em;
	width: 1em;
	display: inline-block;
	cursor: pointer;
	margin-left: .2em;
}

.presets li:hover {
	opacity: 1;
}

.colors {
	width: 100%;
}

.color-block {
	height: 3em;
	padding: 0em .2em 0em .2em;
}

.inactive {
	background-color: #000;
	opacity: .2;
}

.inactive .delete-color {
	display: none;
}

.delete-color {
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	position: absolute;
	left: .2em;
}